<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='../static/images/stock-icon.png' rel="icon">
    <title>Help</title>
</head>
<body>
    <br>&nbsp;&nbsp;
    <button class="btn btn-outline-success" id="home-btn"><b>←</b></button>
    <img src='../static/images/golden-death-box.png' style="width: 70%" alt="graph">
    <div style="margin-left: 180px; padding-left: 150px;">
        ● <b>골든크로스</b> 지점에서 매수하고, <b>데드크로스</b> 지점에 오기 전에 매도한다면 <b>익절</b>이 가능할까?
    </div>
    <script>
        const $home = document.getElementById("home-btn");
        $home.addEventListener("click",()=>{
            window.location.href = `/`;
        });
    </script>
</body>
</html>